.MuiPagination-root {
    width: 15vw;
    margin: 0 auto;
}

.queryContainer {
    display: flex;
    flex-flow: row nowrap;
    align-items: flex;
    column-gap: 6px;
    margin: 6px 
}

.searchBtn {
    background-color: #6200ee;
    border: none;
    color: #fff;
    border-radius: 3px;    
}